$icon-font-path: '../fonts/';
$white-color: #fff;
$light-blue: #36afc3;
$grey-blue: #567981;
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


@font-face {
    font-family: 'utm_cookies';
    src: url('../fonts/utm_cookies-webfont.eot');
    src: url('../fonts/utm_cookies-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/utm_cookies-webfont.woff2') format('woff2'),
         url('../fonts/utm_cookies-webfont.woff') format('woff'),
         url('../fonts/utm_cookies-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.baloo{
  font-family: 'Baloo Bhai', cursive;
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    outline: 0 none !important;
}

html{
  background: #5ce2e3 url('../images/bg-grd.gif') repeat-x 0 0;
  height: 100%;
}

html,
body {
    height: 100%;
}

/* Space out content a bit */
body {
  background: url('../images/bg.png') no-repeat bottom center;
  background-size: contain;
  font-size: 16px;
  color: $white-color;
  // font-family: 'utm_cookies', 'Baloo Bhai', cursive;
  font-family: 'Coiny', cursive;
  position: relative;
  //padding-bottom: 40px;
  height: initial;
  min-height: 100%;

}

.form{
   position: relative;
   z-index: 100;
}

.form-control{
  &::-webkit-input-placeholder { /* Chrome */
    color: $light-blue;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $light-blue;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $light-blue;
    opacity: 1;
  }
  &:-moz-placeholder { /* Firefox 4 - 18 */
    color: $light-blue;
    opacity: 1;
  }
}
.surf-title{
   font-size:0;
}

/*modal*/
.modal-title{
   color: $grey-blue;
}
.modal-body{
    color: $grey-blue;
    font-family: Arial;
}

/*header*/
#header{
    .navbar{ margin-bottom: 0; z-index: 10;}
    .navbar-brand{
         height: 100px;
         display: block;
         width: 90px;
         padding: 0;
    }
    .navbar-toggle .icon-bar{
       background: $white-color;
       border-radius: 4px;
       height: 3px;
    }
    .navbar-nav{
        > li{

        }
        > li > a{
           color: $white-color;
           font-size: 18px;

           &:hover, &:focus{
              background: none;
           }
        }

    }
}

.bg-decor {
   position: absolute;
   width: 100%;
   height: 100%;
   bottom: 0;
   left:auto;
   z-index: 0;
}
/*home*/
body.home{
    #main{
      overflow: hidden;
    }
}


.surf-kv-wrap{
    position: relative;
}
.surf-kv{
   position: relative;
}

.hl{
   position: absolute;
   left: 0;
   top:0px;
   z-index: 1;
   width: 120px;
}

.tt{
   position: absolute;
   right: -15px;
   top:40px;
   z-index: 1;
   width: 130px;
}

#step1Form{
   .form-control{
      background: url('../images/input-bg-home.png') no-repeat center center;
      background-size: contain;
      border: 0;
      box-shadow: 0 0 0;
      color: $light-blue;
      height: 80px;
      font-size: 24px;
      text-align: center;
      margin: 0 auto;
   }

   #step1FormSubmit{
     background: rgba(0, 0, 0, 0) url("../images/play_game_btn.png") no-repeat scroll center center / contain ;
     border: 0 none;
     font-size: 0;
     height: 80px;
     margin-top: 15px;
     width: 100%;
   }
}




/*step2*/
body.step2{

    #main{

    }

    .surf-kv-wrap{
        position: relative;
        margin-top: 50px;
        margin-bottom: 60px;

        &:before, &:after{
             content: '';
             position: absolute;
             z-index: 0;

        }

        &:before{
             background: url('../images/question-mobile-top.png') no-repeat top center;
             background-size: contain;
             height: 180px;
              left: 50%;
              margin-left: -120px;
              position: absolute;
              top: -90px;
              width: 240px;

        }

        &:after{
            background: url('../images/question-mobile-bottom.png') no-repeat top center;
            background-size: contain;
            height: 180px;
            left: 50%;
            margin-left: -140px;
            position: absolute;
            bottom: 20px;
            width: 280px;
            z-index: 0;
        }


    }
    .surf-questions{
       max-width: 480px;
       z-index: 100;
       margin: 0 auto;
    }

    .action{
       margin-top: 15px;
       position: relative;
       z-index: 100;
    }
}

/*step3*/
body.step3{

}

/*step4*/
body.step4{

}

.surf-title.surf-title-step4{
   background:url('../images/hom-hinh-qua-khung.png') no-repeat center top;
   background-size: contain;
   height: 50px;
   margin-top: 0px;
   position: relative;
   z-index: 10;
}
.surf-user-code{
    overflow: hidden;

    h3{
        color: $grey-blue;
        margin-top:0;
      }
    span{
        background: url('../images/input-bg-home.png') no-repeat top center;
        background-size: contain;
        color: $grey-blue;
        display: inline-block;
        width: 280px;
        height: 80px;
        font-size: 30px;
        line-height: 65px;
    }

    &.tiki{
       max-width: 280px;
       margin: 0 auto 30px;
    }
}



.surf-play-again,.surf-play-btn{
  background: url('../images/btn.png') no-repeat top center;
  background-size: contain;
  width: 280px;
  height: 54px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 42px;
  color: #fff;
}

.surf-step{
   position: relative;
   z-index: 100;
}


.surf-questions{
   background: #d2effb;
   border:4px solid #156976;
   border-radius: 8px;
   margin-bottom: 60px;
   padding: 15px 20px 40px;
   position: relative;

   fieldset{
      min-height: 340px;
      padding-top: 20px;

      legend{
           border: 0;
           color: #76c1c9;
           margin-bottom: 0px;
      }
      h3{
        color: #ff728a;
        margin-top: 0;
      }

      label{
         color: #1a4a55;
      }

      .radio{
         text-align: left;
      }
   }

}


.surf-result-wrap{
  background: #d2effb;
  border:4px solid #156976;
  border-radius: 8px;
  padding: 10px 40px 20px;
  position: relative;
  color: #199da4;
  max-width: 500px;
  margin: 0px auto 20px;
  z-index: 10;
  display:none;

    h2{
        color: #ff728a;
    }

    p{
      color: #199da4;
    }

    &:before{
       content: '';
       position: absolute;
       top:0;
       left:50%;
       z-index: 0;

    }

}

.surf-step3{
    margin-bottom:40px;
   a{
      display: inline-block;

   }
}

#surf-result{



}


@media (max-width:640px) {

  body{

    &.home{
         height: 100vh;
    }

    &.step4{
        padding-bottom: 10px;
        height: initial;

       .surf-user-code.tiki{

       }
     }




  }


}

@media (min-width:641px) {
    .hl{
      left: 10px;
      top: 40px;
      width: 225px;
    }

    .tt{
        width: 225px;
        top: 130px;
    }


    /*step4*/
    body.step4{
        height: auto;

        .surf-step4{
           //transform: translate(0px, -50px);
        }

        .surf-title.surf-title-step4{
             height: 70px;
             margin: 28px auto 0;
             width: 220px;
        }
    }

}

@media (min-width:768px) {

      body{
            &.home {
              #main{
                  transform: translateY(-101px);
              }
            }
      }


}

@media (min-width:992px) {

      .floating{
        float: left;
        -webkit-animation-name: floating;
        -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        -moz-animation-name: floating;
        -moz-animation-duration: 3s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;

        }

        @-webkit-keyframes floating{
            from {-webkit-transform:translate(0, 0px);}
            65% {-webkit-transform:translate(0, 15px);}
            to {-webkit-transform: translate(0, 0px);}
        }

        @-moz-keyframes floating{
            from {-moz-transform:translate(0, 0px);}
            65% {-moz-transform:translate(0, 15px);}
            to {-moz-transform: translate(0, 0px);}
        }


      body {
        background-size: cover;

        &.bg-contain{
           background-size:contain;
        }
      }

      /*header*/
      #header{

          .navbar-brand{
               height: auto;
               width: 120px;
          }
      }

      #main{
           overflow: visible;
      }

      .hl{
        left: -10px;
        top: 40px;
        width: 315px;
      }
        .tt{


            right: -105px;
            top: 50px;
            width: 366px;
              -moz-animation-duration: 4s;
              -webkit-animation-duration: 4s;
        }

    .decor{
       position: absolute;
       z-index: 1;

       &.flower-top{
          background: url('../images/top-flower.png') no-repeat 0 0;
          width: 200px;
          height: 250px;
          top: 0;
          left:0;
       }
       &.flower-top-middle{
          background: url('../images/little-flower-left.png') no-repeat 0 0;
          width: 200px;
          height: 250px;
          top: 30%;
          left:0;
       }
    }


    /*step2*/

    body.step2{


      .surf-questions{
        margin: 0 auto;
        background: url('../images/form-bg.png') no-repeat 0 0;
        background-size: contain;
        border: 0;
      }

      .surf-kv-wrap{

        &:before{
             background: url('../images/left-question-bg.png') no-repeat top center;
             background-size: contain;
             height: 480px;
             left: -50px;
             margin-left: 0;
             position: absolute;
             top: -80px;
             width: 490px;

        }

        &:after{
            background: url('../images/right-question-bg.png') no-repeat top center;
            background-size: contain;
            height:  480px;
            left: auto;
            margin-left: 0;
            position: absolute;
            bottom:auto;
            top: -120px;
            right:-100px;
            width: 490px;
            z-index: 0;
        }
      }



    }

    /*step3*/
    body.step3{

        .type{

          max-width:650px;

          &.type1{
              transform: translate(81px, 0px);
          }

          &.type2{
                transform: translate(51px, 0px);
          }
          &.type3{
              transform: translate(100px, 0px);
          }

        }
    }


    /*step4*/
    body.step4{
       .surf-kv{
          width: 440px;
          margin: 0 auto;
       }
       .surf-user-code{
          h3{ margin-top: 0}
       }

       .hl {
         left: 100px;
         width: 180px;
       }
       .tt {
         right: 60px;
         width: 230px;
       }
    }


}

@media (min-width:1200px) {
  body{

      &.home{
        .hl{
           left: -50px;
        }
      }

      &.step4{
          .hl{
             //left: 0;
             //width:250px;

          }

          .tt{
            // right: -10px;
            // width: 210px
          }
      }
  }




}
